/* main style starts  */
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

/* main style end  */

/* Header style starts here */

/* Mohammed */

header {
  background-color: black;
  padding: 15px 0;
  font-size: 17px;
}

.container {
  width: 980px;
  margin: 0 auto;
  /* background-color: #fafafa; */
}

.header_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.header_links li a {
  text-decoration: none;
  color: #fff;
}

header ul li {
  height: 25px;
  opacity: 0.7;
}

.logo-link,
.cart_icon,
.search_icon {
  width: 18px;
}

/* header style ends here */

/* header style end  */

/* First section banner (16-inch MacBook Pro)
style */

.macbookPro {
  background-color: #fafafa;
  text-align: center;
  padding: 30px 0;
}
.title h1 {
  font-size: 56px;
  font-weight: 700;
}
.descriptionmac p {
  font-size: 2em;
}

.model p {
  font-size: 0.86em;
}

.links-wrapper ul li {
  display: inline-block;
  padding-right: 20px;
}

.links-wrapper ul {
  margin: 10px 0;
}
.links-wrapper ul li a {
  color: #06c;
  text-decoration: none;
}
.links-wrapper ul li a:hover {
  color: black;
}
.links-wrapper ul li a::after {
  font-family: "FontAwesome";
  content: "\f105";
  font-weight: 900;
  padding-left: 10px;
}

/* First section end here  */

/* second section starts - iphone 11 pro  */

.iphone11Pro {
  background-image: url(../Images//home/iphone11-pro-bg.jpg);
  height: 580px;
  background-position: center;
  text-align: center;
  color: white;
  padding-top: 50px;
}

.description p {
  font-size: 26px;
  padding: 10px 0;
}

.price-tag p {
  color: #86868b;
  font-size: 0.85em;
}

/* second section style ends */

/* third section  iphone11 style */

/* third section style ends here */

/* Fourth section style*/

/* Fourth section ends  */

/* Fifth section style start */

/* Fifth section ends */

/* Sixth section style start */

/* Sixth section style ends here  */

/* footer styling */
/* footer style ends */
