/* main style starts  */
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

/* main style end  */

/* Header style starts here */

/* Mohammed */











/* header style ends here */




/* header style end  */

/* First section banner (16-inch MacBook Pro)
style */

.macbookPro {
  background-color: #fafafa;
  text-align: center;
  padding: 30px 0;
}
.title h1 {
  font-size: 56px;
  font-weight: 700;
}
.descriptionmac p {
  font-size: 2em;
}

.model p {
  font-size: 0.86em;
}

.links-wrapper ul li {
  display: inline-block;
  padding-right: 20px;
}

.links-wrapper ul {
  margin: 10px 0;
}
.links-wrapper ul li a {
  color: #06c;
  text-decoration: none;
}
.links-wrapper ul li a:hover {
  color: black;
}
.links-wrapper ul li a::after {
  font-family: "FontAwesome";
  content: "\f105";
  font-weight: 900;
  padding-left: 10px;
}




/* First section end here  */




/* second section starts - iphone 11 pro  */






/* second section style ends */

/* third section  iphone11 style */

/* third section  iphone11 style */
.iphone11 {
  background-image: url(../images/home/iphone11-bg.jpg);
  height: 580px;
  background-position: center;
  text-align: center;
  padding-top: 50px;
}

/* third section style ends here */



/* Fourth section style*/
.apple-flex {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin-top: 10px;
  /* flex-wrap: wrap; */
}
.appleWatch {
  background-image: url(../images/home/watch-series-5.jpg);
  background-size: cover;
  background-position: center;
  height: 580px;
  width: 49.5%;
  padding-top: 30px;

  /* background-color: red; */
}

.appleCard {
  background-image: url(../images/home/apple-card.jpg);
  height: 580px;
  width: 49.5%;
  /* background: yellow; */
  background-size: cover;
  background-position: center;
  padding-top: 30px;
}

.apple_description {
  max-width: 430px;
  /* background: red; */
  margin: 0 auto;
  padding: 15px;
}

/* Fourth section ends  */



/* Fifth section style start */



/* Fifth section ends */



 /* Sixth section style start */ 

 /* Sixth section style ends here  */



 /* footer styling */
 /* footer style ends */