/* main style starts  */
* {
  margin: 0;
  padding: 0;
}
body {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
}

/* main style end  */

/* Header style starts here */

/* Mohammed */



header {
  background-color: black;
  padding: 15px 0;
  font-size: 17px;
}

.container {
  width: 980px;
  margin: 0 auto;
  /* background-color: #fafafa; */
}

.header_links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.header_links li a {
  text-decoration: none;
  color: #fff;
}

header ul li {
  height: 25px;
  opacity: 0.7;
}

.logo-link,
.cart_icon,
.search_icon {
  width: 18px;
}







/* header style ends here */




/* header style end  */

/* First section banner (16-inch MacBook Pro)
style */







/* First section end here  */




/* second section starts - iphone 11 pro  */






/* second section style ends */

/* third section  iphone11 style */



/* third section style ends here */



/* Fourth section style*/


/* Fourth section ends  */



/* Fifth section style start */



/* Fifth section ends */



 /* Sixth section style start */ 

 /* Sixth section style ends here  */



 /* footer styling */
 /* footer style ends */